* {
    border: 2px solid black;
}
body {
  background-color: pink;
  color: white;

}

#title {
  color: white;
  text-align: center;
  margin: 50px auto;
  width: 50%;
}
#hover:hover {
  color: black;
}

h2{
color: white;
font-size:large;
text-align: center;
margin: 50px auto;
width: 50%;
}

div{
    align-self: center;
    text-align: center;
 
}

.whitediv{
    align-self: center;
    margin: 50px auto;
}

#bulletstext {   
    color: black;
    text-align: left;
    align-self: center;
    margin: 50px auto;
    width: 50%;}